@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);
  --veryPaleCyan: hsl(193, 100%, 96%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --grayishBlue: hsl(208, 11%, 55%);
  --grayishBlueShadow: hsla(209, 11%, 55%, 0.15);
  --white: hsl(0, 0%, 100%);
  --poppins: "Poppins", sans-serif;
  --openSans: "Open Sans", sans-serif;
  --fw400: 400;
  --fw500: 500;
  --fw700: 700;
  --fs: 18px;
  --fsmobile: 16px;
  --boxShadow: rgba(99, 99, 99, 0.2) 0 0.125rem 0.5rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fsmobile);
  font-weight: var(--fw400);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  font-family: var(--openSans);
}

a {
  text-decoration: none;
  color: var(--white);
}

.container {
  margin: 0 auto;
  max-width: 23.438rem;
  background-image: url(images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-color: var(--veryPaleCyan);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.563rem 1.25rem;
}

.logo {
  display: block;
  width: auto;
  height: 1.25rem;
}

.button {
  box-shadow: var(--boxShadow);
  border: none;
  border-radius: 1.875rem;
  font-size: 0.813rem;
  line-height: 1.5;
  font-family: var(--openSans);
  font-weight: var(--fw700);
  text-align: center;
}

.button-header {
  width: 6.563rem;
  padding: 0.313rem 0.938rem;
  background-color: var(--white);
  color: var(--veryDarkCyan);
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.25rem 0;
  padding: 1.563rem 1.875rem;
  text-align: center;
}

.description > h1 {
  margin: 1.25rem 0;
  font-size: 1.5rem;
  font-family: var(--poppins);
  color: var(--veryDarkCyan);
}

.description > p {
  margin: 0 0 1.875rem;
  font-family: var(--openSans);
  color: var(--veryDarkCyan);
}

.button-pink {
  margin: 0 0 1.875rem;
  width: 80%;
  padding: 0.75rem 0.938rem;
  background-color: var(--pink);
  color: var(--veryPaleCyan);
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.illustration {
  display: block;
  margin: 1.25rem 0;
  width: 100%;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.938rem 1.25rem 30vh 1.25rem;
  background-color: var(--white);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0 0;
  box-shadow: var(--boxShadow);
  border-radius: 0.938rem;
  padding: 3.75rem 1.25rem 2.5rem 1.25rem;
  text-align: center;
}

.box-img {
  display: block;
  width: 100%;
}

.box-description {
  margin-top: 3.75rem;
}

.box-description > h2 {
  margin-bottom: 1.25rem;
  font-size: 1.375rem;
  font-family: var(--poppins);
  color: var(--veryDarkCyan);
}

.box-description > p {
  padding: 0 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--grayishBlue);
}

.box-description > .users-paragraph {
  padding: 0 1rem;
}

.section3 {
  position: relative;
  text-align: center;
}

.ready-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.938rem;
  transform: translateY(-50%);
  margin: 0 auto;
  box-shadow: var(--boxShadow);
  border-radius: 0.938rem;
  padding: 1.25rem 0.938rem;
  width: 92%;
  height: 12.5rem;
  background-color: var(--white);
  text-align: center;
}

.ready-box > h1 {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-family: var(--poppins);
  color: var(--veryDarkCyan);
}

.ready-button {
  width: 66%;
  font-size: 0.688rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  min-height: 50vh;
  padding: 6.25rem 1.25rem 2.5rem;
  background-color: var(--veryDarkCyan);
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--veryPaleCyan);
}

.logo-footer {
  display: block;
  margin-bottom: 0.938rem;
  width: auto;
  height: 1.563rem;
  filter: brightness(0) invert(1);
}

.footer-section {
  margin: 2.5rem 0 0;
}

.footer-section > ul {
  list-style: none;
}

.contact {
  font-size: 0.938rem;
}

.contact > ul > li {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  padding: 0.625rem 0;
}
.map {
  padding-right: 0.313rem;
}

.map-paragraph {
  margin-right: 0.313rem;
}

.contact-icon {
  margin-top: 0.313rem;
}

.navigation {
  margin-top: 1.25rem;
  font-size: 1rem;
}

.navigation > ul {
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
  padding-bottom: 0.938rem;
}

.socials {
  margin-top: 1.25rem;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 1.25rem;
  width: 50%;
}

.social-icons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.063rem solid var(--white);
  border-radius: 50%;
  height: 2.125rem;
  width: 2.125rem;
}

.fa-brands {
  display: inline-block;
  font-size: 1rem;
  color: var(--white);
}

.copyrights {
  margin-top: 1.875rem;
}

.copyrights,
.attribution {
  font-size: 0.688rem;
  text-align: center;
}
.attribution a {
  color: var(--pink);
}

@media only screen and (min-width: 1020px) {
  html {
    font-size: var(--fs);
  }

  .container {
    max-width: 90rem;
    background-image: url(images/bg-hero-desktop.svg);
    background-size: contain;
    background-attachment: local;
    background-color: var(--veryPaleCyan);
  }

  .header {
    padding: 2.5rem 3.75rem 2.813rem;
  }

  .logo {
    height: 1.563rem;
  }

  .button {
    line-height: 1.8;
  }

  .button-header {
    width: 9.375rem;
  }

  .section1 {
    flex-direction: row;
    gap: 1.875rem;
    margin: 0 auto 1.25rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    flex-basis: 55%;
    padding: 2.5rem 0 3.125rem 2.5rem;
    text-align: left;
  }

  .description > h1 {
    margin: 0;
    padding-right: 3.75rem;
    font-size: 2.25rem;
    line-height: 1.5;
  }

  .description > p {
    margin: 0;
  }

  .button-pink {
    margin: 0 0 1.875rem;
    width: 50%;
    padding: 0.75rem 0.938rem;
    background-color: var(--pink);
    color: var(--veryPaleCyan);
  }

  .illustration {
    display: inline-block;
    margin: 0.625rem 0 1.25rem 2.5rem;
    width: 90%;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6.25rem 3.75rem 35vh;
    background-color: var(--white);
  }

  .box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0 0;
    box-shadow: var(--boxShadow);
    border-radius: 0.938rem;
    padding: 3.75rem 1.25rem 2.5rem 1.25rem;
    text-align: center;
  }

  .box-img {
    display: block;
    margin: 0 auto 1.875rem;
    padding-right: 3.125rem;
    width: 100%;
  }

  .box-description {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
    padding: 0 1.563rem 6.875rem 5.625rem;
    text-align: left;
  }

  .box-description > h2 {
    margin-bottom: 1.25rem;
    padding: 0 0.75rem;
    font-size: 2rem;
    color: var(--veryDarkCyan);
  }

  .box-description > p {
    margin-right: 8.75rem;
    font-size: var(--fs);
    line-height: 1.5;
    color: var(--grayishBlue);
  }

  .box-description > .users-paragraph {
    padding: 0 1rem;
  }

  .box-flowing {
    flex-direction: row;
    margin: 2.5rem 0 0;
  }

  .box-flowing > div > .box-img {
    padding-left: 8.75rem;
  }

  .box-flowing > .box-description {
    padding: 0 1.563rem 5.938rem 5rem;
  }

  .box-flowing > .box-description > h2 {
    padding: 0 0.75rem;
  }

  .box-flowing > .box-description > p {
    margin-right: 0.625rem;
  }

  .ready-box {
    width: 50%;
    height: 13.75rem;
    padding: 1.25rem;
  }

  .ready-box > h1 {
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
  }

  .ready-button {
    width: 40%;
    font-size: 0.875rem;
  }

  footer {
    flex-direction: row;
    gap: 1.25rem;
    min-height: 50vh;
    padding: 6.25rem 6.25rem 2.5rem;
    line-height: 1.5;
  }

  .logo-footer {
    margin-bottom: 1.25rem;
    height: 1.875rem;
  }

  .footer-section {
    margin: 4.375rem 0 0;
  }

  .contact {
    flex-basis: 30%;
    font-size: 1rem;
  }

  .contact > ul > li {
    gap: 1.25rem;
    padding: 0.625rem 0;
  }

  .map {
    padding-right: 0.313rem;
  }

  .map-paragraph {
    margin-right: 0.313rem;
  }

  .contact-icon {
    margin-top: 0.313rem;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    flex-basis: 20%;
    margin-top: 8.125rem;
    font-size: 0.875rem;
  }

  .navigation > ul {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .navigation > ul > li:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .socials {
    margin-top: 8.438rem;
  }

  .social-icons {
    justify-content: flex-start;
    gap: 0.625rem;
    margin: 0;
    width: 50%;
  }

  .social-icons > a:hover {
    border-color: var(--pink);
    color: var(--pink);
  }

  .fa-brands:hover {
    color: var(--pink);
  }

  .copyrights {
    margin-top: 9.375rem;
  }

  .copyrights,
  .attribution {
    text-align: left;
  }

  .attribution a:hover {
    color: var(--grayishBlueShadow);
  }
}
